annotated-types==0.7.0
attrs==25.3.0
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
contourpy==1.3.3
cryptography==46.0.1
cycler==0.12.1
dill==0.4.0
dotenv==0.9.9
fastjsonschema==2.21.2
fonttools==4.60.0
ibm-cloud-sdk-core==3.24.2
ibm-platform-services==0.68.3
idna==3.10
iniconfig==2.1.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kiwisolver==1.4.9
matplotlib==3.10.6
mpmath==1.3.0
narwhals==2.5.0
nbformat==5.10.4
numpy==2.3.3
pandas==2.3.2
pillow==11.3.0
plotly==6.3.0
pluggy==1.6.0
pycparser==2.23
pydantic==2.11.9
pydantic_core==2.33.2
PyJWT==2.10.1
pylatexenc==2.10
pyparsing==3.2.5
pyspnego==0.12.0
pytest==8.4.2
python-dotenv==1.1.1
pytz==2025.2
#qadc @ file:///C:/Users/rem.gabryldellarosa/OneDrive%20-%20Universita%20degli%20Studi%20Roma%20Tre/Desktop/Tesi/quantum-amplitude-damping-channel
qiskit==2.2.0
qiskit-aer==0.17.2
qiskit-ibm-runtime==0.41.1
referencing==0.36.2
requests==2.32.5
requests_ntlm==1.3.0
rpds-py==0.27.1
rustworkx==0.17.1
scipy==1.16.2
seaborn==0.13.2
setuptools==78.1.1
sspilib==0.4.0
stevedore==5.5.0
sympy==1.14.0
typing-inspection==0.4.1
tzdata==2025.2
urllib3==2.5.0
wheel==0.45.1
 .